/*
  Styling is intentionally NOT provided.

  TODO: Design your own UI:
  - layout (grid/cards/table)
  - typography
  - buttons/forms
  - spacing and responsiveness
*/

.n-container nav {
  display: flex;       
  gap: 30px;           
  justify-content: right;
  padding: 35px;
}


.n-container a {
  text-decoration: none;
  color: black; 
  font-size: 20px;
  font-weight:600;
}